

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Title      : Travel Portal
Version    : 1.0
Released   : 20070618
Description: A two-column, fixed-width template.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Unilever Text Analysis</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href= "{{ url_for('static', filename='default.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="page">
  <div id="sidebar">
    <div id="logo">
      <center><a href="/"><image src = "static/images/unilever.png" height="140px" margin="20px"></image></a></center>
    </div>
    <!-- end header -->
    <div id="menu">
      <ul>
            <li class='first'><a href="/keyphrase_extraction">Keyphrase Extraction page</a></li>
    <li><a href="/summarization">Summarization Page</a></li>
    <li><a href="/sentiment_analysis_english">Sentiment Analysis English</a></li>
    <li><a href="/sentiment_analysis_multilingual">Sentiment Analysis Multi-Lingual</a></li>
    <li><a href="/crawler">Amazon Crawler</a></li>

      </ul>
    </div>
    
  </div>
  <!-- end sidebar -->
  <div id="content">
    <div><img src="images/img08.jpg" alt="" width="740" height="220" /></div>
    <div class="boxed">
      <h1 class="title2"><center>Welcome to Unilever NLP Page !</center></h1>
      <h1 class="title2"><center>Keyphrase Extraction Using Rake</center></h1>
      <p><a href="/keyphrase_extraction/textrank">Try Keyphrase Extraction Using TextRank</a></p>
      <p><a href="/">Go back to main page to upload Excel File</a></p>
      <h2>Input your parameters</h2>
      <form method="POST" action="/get_keyphrases">
          <p>Input the file name that you want to extract: (eg: Bar_soup.xlsx)</p>
          <input type="text" name="name">
          <p>Input the question you want to extract/Column Name: (eg: What is Healthy Skin?)</p>
          <input type="text" name="question">
          <p>Input which column you want to filter your row by(Optional): </p>
          <input type="text" name="filter_by">
          <p>Input the product ID you want to extract reviews for/Row Name(Optional):</p>
          <input type="text" name="product_id">
          <p>Minimum character length in a word: (2-20)</p>
          <input type="text" name="min_char_length">
          <p>Minimum word length in a phrase: (0-5)</p>
          <input type="text" name="min_words_length">
          <p>Maximum word length in a phrase: (0-10)</p>
          <input type="text" name="max_words_length">
          <p>Minimum phrase frequency in the text: (0-10)</p>
          <input type="text" name="min_keyword_frequency">
          <p>Frequency Trade Off: choose from 0 to 1</p>
          <input type="text" name="trade_off">
          <p>Number of keyphrases to see: </p>
          <input type="text" name="top_n">
          <input type="submit" value="Submit">
      </form>
    </div>
    
  </div>
</div>
<!-- end page -->
</body>
</html>
