

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Title      : Travel Portal
Version    : 1.0
Released   : 20070618
Description: A two-column, fixed-width template.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Unilever Text Analysis</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href= "{{ url_for('static', filename='default.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="page">
  <div id="sidebar" style = "height:100vh">
    <div id="logo">
      <center><image src = "static/images/unilever.png" height="140px" margin="20px"></image></center>
    </div>
    <!-- end header -->
    <div id="menu">
      <ul>
            <li class='first'><a href="/keyphrase_extraction">Keyphrase Extraction page</a></li>
    <li><a href="/summarization">Summarization Page</a></li>
    <li><a href="/sentiment_analysis_english">Sentiment Analysis English</a></li>
    <li><a href="/sentiment_analysis_multilingual">Sentiment Analysis Multi-Lingual</a></li>
    <li><a href="/crawler">Amazon Crawler</a></li>

      </ul>
    </div>
    
  </div>
  <!-- end sidebar -->
  <div id="content">
    <div><img src="images/img08.jpg" alt="" width="740" height="220" /></div>
    <div class="boxed">
      <h1 class="title2"><center>Welcome to Unilever NLP Page !</center></h1>
      <h1 class="title2"><center>Sentiment Analysis</center></h1>


      <br><br><br>
    <div class="boxed" style="background-color:gold">

      <h2 class="title4"><center>Sentiment Analysis on Amazon Reviews</center></h2>

      <form method="POST" action="/get_crawler_sentiment_score">
               <p>Enter Amazon Product URL: (eg: https://www.amazon.com/Johnsons-Head-Toe-Gentle-Baby/dp/B00MNSEOSG/)</p>
              <input type="text" name="product_url" style="width:56%;height:12px;">
              <p>Enter number of reviews to extract: (Range: 1-20) <input type="text" name="num_reviews"></p>
              

              <center><input type="submit" value="Submit" style="background-color:yellowgreen;color:white;padding:5px;font-size:12px;border:none;padding:6px;"></center>
      </form>
    </div>
      <br>
    <div class="boxed" style="background-color:lightblue">  

      <h2 class="title4"><center>Sentiment Analysis on Saved Excel Files</center></h2>

        <form action = "/upload_sentiment_bulk" method = "POST" enctype = "multipart/form-data">
        <p>Upload The excel file here (Only first 20 reviews will be used for analysis</p>

            <input type = "file" name = "file" />
        <p>Enter Product Id (e.g. B000AO2NXS)</p>
            
            <input type="text" name="product_id" style="width:25%;height:12px;">
              <center><input type="submit" value="Submit" style="background-color:yellowgreen;color:white;padding:5px;font-size:12px;border:none;padding:6px;"></center>

        </form>
        </div>
      <br>
    <div class="boxed" style="background-color:gold">


      <h2 class="title4"><center>Try out Sentiment Analysis on Single Review</center></h2>

      <form method="POST" action="/get_sentiment_score">
          <p>Input the text file that you want to do sentiment analysis on: </p>
          <input type="text" name="text" style="width:96%;height:40px;color:olive;border:none;padding:2%;font:15px/20px sans-serif;">
          <p>Input the title if it has </p>
          <input type="text" name="title" style="width:96%;height:40px;color:olive;border:none;padding:2%;font:15px/20px sans-serif;">
          <p></p>
          <center><input type="submit" value="Submit Review" style="background-color:yellowgreen;color:white;padding:5px;font-size:12px;border:none;padding:6px;"></center>
      </form>
      </div>
    </div>
    
  </div>

<!-- end page -->
</body>
</html>
