<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Title      : Travel Portal
Version    : 1.0
Released   : 20070618
Description: A two-column, fixed-width template.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Unilever Text Analysis</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href= "{{ url_for('static', filename='default.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="page">
  <div id="sidebar">
    <div id="logo">
      <center><image src = "static/images/unilever.png" height="140px" margin="20px"></image></center>
    </div>
    <!-- end header -->
    <div id="menu">
      <ul>
            <li class='first'><a href="/keyphrase_extraction">Keyphrase Extraction page</a></li>
    <li><a href="/summarization">Summarization Page</a></li>
    <li><a href="/sentiment_analysis_english">Sentiment Analysis English</a></li>
    <li><a href="/sentiment_analysis_multilingual">Sentiment Analysis Multi-Lingual</a></li>
    <li><a href="/crawler">Amazon Crawler</a></li>

      </ul>
    </div>
    
  </div>
  <!-- end sidebar -->
  <div id="content">
    <div><img src="images/img08.jpg" alt="" width="740" height="220" /></div>
    <div class="boxed">
      <h1 class="title2"><center>Welcome to Unilever NLP Page !</center></h1>
      <h1 class="title2"><center>Text Summarization Using Improved Latent Semantic Analysis </center></h1>
      <h3><a href="https://unilever-nlp.herokuapp.com/index.html">Try Text Summarization Using LSA from Last Semester</a></h3>
      <form method="POST" action="/get_summarization">
          <p>Input the file name that you want to extract: (eg: Beauty_review.xlsx)</p>
          <input type="text" name="name">
          <p>Input the question you want to extract/Column Name: (eg: reviewText)</p>
          <input type="text" name="question">
          <p>Input which column you want to filter your row by: (eg: productID)</p>
          <input type="text" name="filter_by">
          <p>Input the product ID you want to extract reviews for/Row Name: (eg: B000AO2NXS)</p>
          <input type="text" name="product_id">
          <p> Or input the summarization you want to improved: </p>
          <textarea type="text" name="text"></textarea>
          <p><input type="submit" value="Submit"></p>

      </form>
      <p><a href="/summarization/textrank">Try Summarization Using TextRank</a></p>

    </div>
    
  </div>

<!-- end page -->
</body>
</html>
