interactions:
- request:
    body: text=John+is+a+very+good+football+player%21
    headers:
      content-type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.aylien.com/api/v1/sentiment
  response:
    body: {string: !!python/unicode "{\n  \"polarity\": \"positive\",\n  \"subjectivity\":
        \"objective\",\n  \"text\": \"John is a very good football player!\",\n  \"polarity_confidence\":
        0.9820967303366774,\n  \"subjectivity_confidence\": 0.943706847162803\n}"}
    headers:
      content-type: [application/json;charset=UTF-8]
      x-ratelimit-limit: ['6900']
      x-ratelimit-remaining: ['6869']
      x-ratelimit-reset: ['1441152000']
    status: {code: 200, message: OK}
version: 1
