interactions:
- request:
    body: url=http%3A%2F%2Fgluegadget.com%2Fliffey%2FIMG_1209.png
    headers:
      content-type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.aylien.com/api/v1/image-tags
  response:
    body: {string: !!python/unicode '{"image":"http://gluegadget.com/liffey/IMG_1209.png","tags":[{"tag":"city","confidence":0.6573679903774412},{"tag":"waterfront","confidence":0.5614099082930362},{"tag":"cityscape","confidence":0.4730284699908777},{"tag":"skyline","confidence":0.40880294996618216},{"tag":"urban","confidence":0.4035427516569557},{"tag":"architecture","confidence":0.4016710198929506},{"tag":"building","confidence":0.3871195964751052},{"tag":"night","confidence":0.3273855709719995},{"tag":"river","confidence":0.32393915194354084},{"tag":"water","confidence":0.3047236489400917},{"tag":"travel","confiden[...]
